@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
body {
   margin: 0;
   padding: 0;
   /*background-image: url(imagenes/back-tv.jpg);*/
   background-color: #b7e0f8;
}
header {
   text-align: center;
   background: #001c27;
   color: #fff;
   padding: 10px 0;
   height: 215px;
}
.container {
   max-width: 800px;
   margin: auto;
   padding: 20px;
}
.section {
   border: 3px solid #030c33;
   border-radius: 7px;
   padding: 20px;
   margin: 35px 0;
   background: white;
}
h3 {
   margin: 0 0 20px 0;
}
.historial {
   color: black;
   margin: 15px;
   width: 140px;
   height: 50px;
   border: none;
   border-radius: 25px;
   font-size: 18px;
   background-color: white;
   position: absolute;
   display: flex;
   gap: 7px;
   align-items: center;
   box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
   cursor: pointer;
}
.historial i {
   font-size: 30px;
   position: relative;
   left: 3px;
}
.historial:hover {
   box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}
label {
   display: block;
   padding: 7px;
   border-radius: 7px;
   cursor: pointer;
   border: 1px dashed #ccc;
   margin-bottom: 3px;
}
label:hover {
   background: rgba(56, 72, 140, 0.45);
}
#enviar {
   width: 80%;
   display: block;
   padding: 10px;
   margin-right: 10px;
   background-color: #133340;
   font-size: 1em;
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 20px;
}
#enviar:hover {
   background: #001c27;
}
.inferior {
   display: flex;
   justify-content: center;
   align-items: center;
}
h2,
h1 {
   text-align: center;
}

/*-- Resultados --*/

.contenedor {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.box {
   position: relative;
   margin: 15px;
   width: 325px;
   height: 350px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #fff;
   box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}
.box:hover {
   border: 2px solid #133340;
}
.box .percent {
   position: relative;
   width: 150px;
   height: 150px;
}
.box .percent svg {
   position: relative;
   width: 150px;
   height: 150px;
}
.box .percent svg circle {
   width: 150px;
   height: 150px;
   fill: none;
   stroke-width: 10;
   stroke: #000;
   transform: translate(5px, 5px);
   stroke-dasharray: 440;
   stroke-dashoffset: 440;
   stroke-linecap: round;
}
.box .percent svg .c1 {
   stroke-dashoffset: 0;
   stroke: #f3f3f3;
}
.box .percent svg .c2 {
   stroke: #03a9f4;
}
.box .percent .number {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #111;
}
.box .percent .number h2 {
   font-size: 38px;
}
.box .percent .number h2 span {
   font-size: 24px;
}
.box .text {
   color: #999;
   font-weight: 700;
   letter-spacing: 1px;
   padding: 10px 10px 0;
   margin: 25px 0 0 0;
}
.tabla {
   display: flex;
   justify-content: center;
}
.tablaResultados {
   border-collapse: collapse;
   padding: 25px;
   min-width: 700px;
   margin: 0 0 15px 0;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tablaResultados thead tr {
   background-color: #133340;
   color: #fff;
   padding: 5px;
}
.tablaResultados th,
.tablaResultados td {
   padding: 12px 15px;
}
#number,
#insti,
#area {
   text-align: center;
}
.tablaResultados tbody tr {
   border-bottom: 1px solid #dddddd;
   background-color: #fff;
}
.tablaResultados tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}
.tablaResultados tbody tr:last-of-type {
   border-bottom: 4px solid #133340;
}
.tablaResultados tbody tr:hover {
   background-color: #dedede;
}
.tablaResultados a {
   list-style: none;
   text-decoration: none;
   color: #133340;
}
.tablaResultados a:hover {
   text-decoration: underline;
}

/*--Progress Bar*/
.progressbar {
   display: flex;
   justify-content: center;
   position: relative;
   margin-top: 35px;
}

.progress {
   position: relative;
   width: 600px;
   margin-right: 10px;
   height: 20px;
   background: #a5c5e6;
   border-radius: 25px;
   overflow: hidden;
}
.progress__fill {
   width: 0%;
   height: 100%;
   background: #34569e;
}
.progress__text {
   font-size: 20px;
   font-weight: 600;
   color: white;
   transform: translateY(-5px);
}
