@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans");

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}
#form-perso{
    display: flex;
    gap: 20;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 80px;
    background-color: rgb(0, 28, 39);
    color: rgb(255, 255, 255);
    z-index: 30;
}

.ventanita {
    display: flex;
}


h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

#form-perso {
    width: 100%;
    min-width: 1100px;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}


.question {
    justify-content: center;
    margin-top: 30px;
    background-color: #fff;
    width: 800px;
    border-color: rgb(40, 78, 93);
    border-width: 10px;
    border-style: double;
    padding: 18px;
    border-radius: 15px;
}

h2 {
    margin-bottom: 10px;
    font-size: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 65px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

#result {
    margin-top: -20px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    color: #000021;
    font-size: 15px;
    background-color: #d6e4e5;
}

label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    /* Accessible outline */
    /* Remove comment to use */
    /* &:focus-within {
 outline: .125em solid $primary-color;
}
    */
}

label input {
    position: absolute;
    left: -9999px;
}

label input:checked+span {
    background-color: #d6e4e5;
}

label input:checked+span:before {
    box-shadow: inset 0 0 0 0.4375em rgb(0, 28, 39);
}

label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 100em;
    transition: 0.25s ease;
}

label span:hover {
    background-color: #d6e4e5;
}

label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em rgb(0, 28, 39);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#progress-bar {

    top: 20PX;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(12, 85, 102);
    transition: width 0.1s;
    margin-bottom: 12px;
}

.progress-bar {
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 12px;
    width: 50%;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(205, 245, 245);
    box-shadow: 0 0 0 3px white;

}