@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans");

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(0, 28, 39);
    color: rgb(255, 255, 255);
    z-index: 30;
}

.ventanita {
    display: flex;
}


h1 {
    text-align: center;
    margin-top: 50px;
}

#form-perso {
    margin-top: 60px;
    width: 100%;
    min-width: 1100px;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}


.question {
    margin-top: 30px;
    background-color: #fff;
    border-color: rgb(40, 78, 93);
    border-width: 10px;
    border-style: double;
    padding: 18px;
    border-radius: 15px;
}

h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.button {
    --green: #237a80;
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 212, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 249, 253, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 249, 0.4), 0 0 9px 3px rgba(27, 253, 238, 0.1);
}

.button:hover {
    color: #82fffb;
    box-shadow: inset 0 0 10px rgba(17, 94, 98, 0.6), 0 0 9px 3px rgba(27, 253, 227, 0.2);
}

.button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.button:hover:before {
    transform: translateX(15em);
}

#result {
    margin-top: -20px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    color: #000021;
    font-size: 25px;
    background-color: #d6e4e5;
}

label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    /* Accessible outline */
    /* Remove comment to use */
    /* &:focus-within {
 outline: .125em solid $primary-color;
}
*/
}

label input {
    position: absolute;
    left: -9999px;
}

label input:checked+span {
    background-color: #d6e4e5;
}

label input:checked+span:before {
    box-shadow: inset 0 0 0 0.4375em rgb(0, 28, 39);
}

label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.375em 0.375em 0.375em;
    border-radius: 100em;
    transition: 0.25s ease;
}

label span:hover {
    background-color: #d6e4e5;
}

label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em rgb(0, 28, 39);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#progress-bar {

    position: fixed;
    top: 20PX;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(12, 85, 102);
    transition: width 0.2s;
}

.progress-bar {

    position: fixed;
    top: 20PX;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(205, 245, 245);
    box-shadow: 0 0 0 6px white;

}