body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  input {
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  